@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 72%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { background: #f6eddc;}

header .wrapper { width: 100%;}

.main-head ,
.special-head {
  padding: 0 14%;
  margin: 0 auto;
}

.main-head {
  padding: 18px 14% 12px;
  display: flex;
}

.main-head h1 {
  display: flex;
  align-items: center;  
}

.sub-head {
  padding: 8px 14% 0px;
  border-bottom: 1px #dfd3c7 solid;
  color: #534a43;
  font-weight: 700;
  letter-spacing: 1px;
}

.sub-head span { 
  margin: 0px 0 10px;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}

.right-anchors {
  margin-top: 5px;
  float: right;
  font-size: 11px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.right-anchors a { color: #534a43;}

.right-anchors a:first-of-type { padding-right: 17px;}

.right-anchors a:last-of-type { padding-left: 16px;}

nav {
  margin-left: 40px;
  display: flex;
  flex: 1;
}

nav ul {
  display: flex;
  width: 100%;
}

nav li:not(:nth-child(5)) { margin:7px 20px 0 33px;} 

nav li:nth-child(1) {margin-left: 0;}

nav li a{ 
  color: #534a43;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav li:nth-child(1){ margin-top: 7px;}

.dropbtn {display: flex;}

.dropbtn span { padding: 0 0 0 16%;}

.dropdown-content { display: none;}

nav li:nth-child(5) {
  width: 40%;
  margin-right: 13%;
  margin-left: 3%;
  position: relative;
}

nav input {
  width: 107%;
  height: 25px;
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid #dcd3ca;
}

nav button {
  padding: 5px;
  background: #fff;
  border: none;
  position: absolute;
  right: -20%;
  top: 8.5%;
  font-size: 20px;
}

nav li:nth-child(6) {
  position: absolute;
  right: 180px;
  font-size: 22px;
}

.special-head { 
  padding: 15px 0 12px;
  background: #fff;
  text-align: center;
}

.special-head a {
  color: #6fa9ad;
  font-size: 13px;
  font-weight: 700;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner {
  background: url('https://via.placeholder.com/1351x402') no-repeat;
  background-position: center;
  background-size: cover;
}

.banner a {
  padding: 9px 13px;
  margin: 319px 0 34px;
  margin-left: 7.5%;
  background: #584aa2;
  color: #fff;
  font-size: 23px;
  font-weight: 900; 
  text-transform: capitalize;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  welcome styling starts here
=================================*/ 

.welcome {
  background: #f4f9fc;
}





 /*=================================
  welcome styling ends here
=================================*/ 




/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 
